.Wallpaper{
  text-align: center;
}

.Wallpaper > img{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@media (max-width: 1000px) {
  .Wallpaper > img{
    height: 100%;
    width: auto;
  }
}

@media (min-width: 2000px) {
  .Wallpaper > img{
    height: auto;
    width: 100%;
  }
}
